@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.head{
    color:#f1f7f7;
    font-weight: 400;
    font-size: 40px;
    font-style: italic;
    margin-bottom: 20px;
}
.bg-img{
  background: url('bgi.jpg');

  height: 80vh;
  background-size: cover;
  background-position: center;
}
.bg-img:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%,-50%);
  backdrop-filter: blur( 8px );
  background: rgba(244, 182, 182, 0.04);
  
  box-shadow: -1px 4px 28px 0px rgba(245, 209, 4, 0.75) ;
  /* box-shadow: -1px 4px 28px 0px var(--dl-color-scheme-temp) ; */
}
.content header{
  color: rgb(242, 122, 122);
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Montserrat',sans-serif;
}
.field{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
}
.field span{
  color: #222;
  width: 40px;
  line-height: 45px;
}
.field input{
  height: 100%;
  width: 100%;
  background: blur(5px);
  border: none;
  outline: none;
  color: rgb(24, 24, 25);
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.space{
  margin-top: 16px;
}
.field .show{
  width: auto;
  /* color: #0400ff; */
}
/* .show{
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
} */
.pass-key:valid ~ .show{
  display: block;
}
.pass{
  text-align: left;
  margin: 10px 0;
}
.pass a{
  color: rgb(243, 133, 133);
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
}
.pass:hover a{
  text-decoration: underline;
}
.field input[type="submit"]{
  background: #078fea;
  border: 1px solid #2691d9;
  color: rgb(243, 137, 137);
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.field input[type="submit"]:hover{
  background: #2691d9;
}
.login1{
  color: rgb(219, 10, 10);
  margin: 20px 0;
  font-family: 'Poppins',sans-serif;
}
.links{
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px 0;
}
.facebook,.instagram{
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}
.facebook{
  margin-left: 0;
  background: #4267B2;
  border: 1px solid #3e61a8;
}
.instagram{
  background: #E1306C;
  border: 1px solid #df2060;
}
.facebook:hover{
  background: #3e61a8;
}
.instagram:hover{
  background: #df2060;
}
.links i{
  font-size: 17px;
}
i span{
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.signup{
  font-size: 15px;
  margin-top: 5%;
  color: white;
  font-family: 'Poppins',sans-serif;
}
.signup a{
  margin-left: 3%;
  color: #3498db;
  text-decoration: none;
}
.signup a:hover{
  /* color: white; */
  text-decoration: underline;
}
.box, .box1 {
  /* Required properties */
  position: relative;
  background: rgb(243, 240, 240);

  /* Use  your own styles here */
  /* margin: 45px;
  width: 250px;
  height: 123px;   */
}

/* 
* Provided by the Generator. 
* This is what creates the shadow.
*/
.box:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top left, #ff3d00 0%, #0400ff 100% );
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
}
.box1:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top left, #ff3d00 0%, #0400ff 100% );
  transform: translate3d(0px, 5px, 0) scale(0.95);
  filter: blur(15px);
  opacity: var(0.7);
  transition: opacity 0.3s;
}

/* 
* Provided by the Generator.
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
/* .box::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
} */




/* Custom styles for the demo */
/* body{
  text-align: center;
      font-family: Nunito, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  margin-top: 3em;
} */
/* .box{
  display: flex;
  justify-content: center;
  flex-direction: column;
} */