@import url("https://fonts.googleapis.com/css?family=Raleway:300");
*{
  margin: 0;
  padding: 0;
}
body{
  /* display: flex; */
  /* height: 100vh; */
  /* background: black; */
  /* align-items: center;
  justify-content: center; */
}
.my-button, .bb{
  position: relative;
  height: 40px;
  width: 120px;
  border: none;
  outline: none;
  color: white;
  background: #111;
  cursor: pointer;
  border-radius: 50px;
  outline: none;
  font-size: 16px;
  font-family: "Source Sans Pro",Arial,sans-serif;
}
.blue{
  background: #0056D2;
  font-weight: 800;
}
.s{
  font-size: 18px;
  width: 60%;
  
}
.my-button:before{
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 50px;
  z-index: -1;
  opacity: 0;
  filter: blur(5px);
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background-size: 400%;
  transition: opacity .3s ease-in-out;
  animation: animate 20s linear infinite;
}
.my-button:hover:before{
  opacity: 1;
}
.my-button:hover:active{
  background: none;
} 
.my-button:hover:active:before{
  filter: blur(2px);
}
@keyframes animate {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
/* img{
  scale: 0.9;
} */