.message__recipient span{
  /* font-size: 10px; */
  position: absolute;
  bottom: 0;
  right: 0;
  /* margin-right: 5px;
  margin-bottom: 3px; */
}
.message__sender span{
  /* font-size: 10px; */
  position: absolute;
  bottom: 0;
  right: 0;
  /* margin-right: 5px;
  margin-bottom: 3px; */
}
